@model IEnumerable<Inventory.Models.Product>

@{
    ViewData["Title"] = "Ürün Listesi";
}

<div class="card">
    <div class="card-header d-flex justify-content-end">
        <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Oluştur</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            Ürün Kodu
                        </th>
                        <th>
                            Ürün
                        </th>
                        <th>
                            Fiyat
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                <a asp-controller="Stocks" asp-action="Index" asp-route-productCode="@item.ProductCode" class="btn btn-sm btn-info"><i class="fas fa-cube"></i></a>
                                <a asp-action="Edit" asp-route-id="@item.ProductID" class="btn btn-sm btn-dark"><i class="fas fa-eye"></i></a>
                                <a class="btn btn-sm btn-danger" onclick="confirmRedirect('@Url.Action("Delete", "Products", new { id = item.ProductID })');"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

